<%
name = details.name;
author = details.author;
videourl = details.src;
page = name;
%>
<%- include('partials/header') %>

<div class="video">
    <video src="<%= videourl %>" controls></video>
    <h1><%= name %></h1>
    <h3><%= author %></h3>
</div>
<div class="riverview">
    <% for( let index = 0; index < recommended.length; index++ ) { %>
    <% similar = recommended[index] %>
    <div class="recommendedvideo">
        <a href="/watch?v=<%= similar.id %>">
            <img src="<%= similar.thumb %>" />
            <h5><%= similar.name %></h5>
            <p><%= similar.author %></p>
        </a>
    </div>
    <% } %>
</div>

<%- include('partials/footer') %>